<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.tql.indi.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pointCount"
            android:label="@string/pc" />
        <activity
            android:name=".BMI"
            android:label="BMI" />
        <activity
            android:name=".exchange"
            android:label="@string/title_activity_exchange" />
        <activity android:name=".exchangeCfg" />
        <activity
            android:name=".exchangeList"
            android:label="@string/exchangelist" />
        <activity android:name=".ExClick"></activity>
    </application>

</manifest>